.pull-left.how_it_works
  %ul
    %li Login to view the list of active tournaments, that starts in a month.
    %li
      Click 'Predict Now' and start predicting the winning teams for the listed matches.
    %li
      You can choose to predict only few matches at once, then click 'Submit' to save your predictions.
    %li
      Prediction for a league match is open till the scheduled start of the match.
      %br
      %b NOTE:
      Predictions for all knockouts/deciders, including finals has to be done before the scheduled start of the first knockout match.
    %li
      Prediction changes are unlimited up-until the closure date.

.pull-left.how_it_works
  %ul
    %li
      Each correct prediction is awarded with points based on the match type:
      %ul
        %li League - 3 points
        %li Semifinal/Eliminator/Qualifier - 6 points
        %li Final - 9 points
    %li For wrong predictions 1/3 of the success points will be deducted.
    %li
      Points for the completed matches will be updated before 9AM of the next day.
      %br
      You can use 'View Results' to see the results of your predictions.
      %br
      Also you can use 'Check Leaderboard' to see your position among other users.
      %br
      Clicking on the name of the user will display the results of his/her predictions.

.clear-left-div
