Predictions are open for the following tournament(s):
-@tournaments.each do |t|
  %p= t.name + " ( " + t.start_date.label.to_s + " to " + t.end_date.label.to_s + " ) "
%p= "Why wait?? Just log on to " + root_url + ". Predict and have fun!! Good luck."