Wanna know who holds the top position?
-@tournaments.each do |t|
  %h4= t.name + ":"
  %p= t.toppers.collect {|x| x.fullname}.join(",")
%p Congratulations toppers!
%p= "To know more, log on to " + @url