.modal-backdrop.in
#usersModal.modal{:role => "dialog", :tabindex => "-1", "aria-hidden"=>"true"}
  .modal-header
    %button.close-button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}x
    %h3= tournament.name
  .modal-body
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th Name
          %th Matches Predicted
          %th Location
      %tbody
        - tournament.predictors.each do |u|
          %tr
            %td= u.fullname
            %td= u.matches_predicted
            %td= u.location
  .modal-footer
