/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top:50px; }

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.msgspan {
  margin-left:239px;
}
#current-tournaments-div {
  margin-left: 210px;
  float:left;
}

.navbar {
  margin-bottom: 60px;
}

#navigation-main {
  margin: 0px 50px;
  border-radius: 8px;
  background-color: rgb(2,45,79);  
  height: 55px;
}

#navbar {
  background-color: blue;
}
#tournaments {
  width: 100%;
  text-align: center;
}

#match, #non-league {
  width: 100%;
}

#predictModal {
  width: 70%;
  margin-left: -35%;
  background-color: #D9D9D9;
}

#statisticsModal {
  width: 70%;
  margin-left: -35%;
  background-color: #EEE;
}

#buttons {
  float: right;
}

#vs-td {
  width: 1em;
  text-align: center;
  padding: 0 10px;
}

#venue-td {
  padding: 0 10px;
}

.teams-td {
  padding: 10px 0px;
}

#users {
  width: 100%;
  text-align: center;
  background-color: #E4E4E4;
}

#non-league { 
  background-color: transparent;  
}

#non-league-venue {
padding-right: 197px;
}

.button-td {
  width: 265px;
}

.button-td i {
  padding-right: 5px;
}

.progress-bar {
  width: 150px;
  float: left;
  border: 1px dotted #82CAFF;
  margin: 0 0 0 10px;
}

#logo {
  height: 250px;
  float: left;
  padding-top:15px 0 0 55px;
}

#logo-inner {
  position: absolute;
  top: 31px;
  img { margin-top:-16px; margin-left:25px; }
}
#how_it_works {
  width: 600px;
  color: #000;
}
#main {
  margin-top:60px;
}
#main.sessions { margin-top:0; }
#nav-pull-right {
  padding-top: 15px; 
  font-size: 15px;
  padding-right: 30px;
  .help { margin-left: 10px; text-decoration:none; }
  .signout { @extend .help }
}

#help-image:hover {
   background: url(help-hover.png);
}

#signout-image:hover {
   background: url(signout-hover.png);
}

.how_it_works {
  width: 550px;
}

#predict-footer {
padding: 5px 0;
}

#correct #wrong #unknown {
  margin-left:10px;
}

#correct {
  color: green;
}

#wrong {
  color: red;
}

#unknown {
  color: blue;
}

#upcoming-left-pull-left {
  clear: both; 
  margin-top: 25px; 
  padding-right: 25px; 
  border-right: 1px solid #000;
}

#progress {
  display:inline-block; 
  float:left;
}

#upcoming-left-div {
  margin-bottom: 5px;
}

#upcoming-right-div {
  height: 20px;
}

.clear-left-div {
  clear:left;
}

#name-pull-left {
  margin: 0 10px 0 0;
}

#upcoming-alert {
  float: left;
  margin: 0 5px 0 -14px;
}

#predict-pull-left {
  margin: 4px 0 0 0;
}
#total-points-span {
  display: inline-block;
  margin-right: 2px;
}
#position-span {
  display: inline-block; 
  margin: 0 2px 0 15px;
}
#upcoming-right-pull-left {
  margin: 30px 0 0 25px;
} 
#users-playing-span {
  display: inline-block;
}
#users_playing_number
{
  font-weight: bold; 
  text-decoration: underline;
  margin-left: 2px;
}
#tournament-progress {
  margin-top: 10px;
}
#tournament-progress-span {
  display: inline-block; 
  margin-top: 10px;
} 
.cant-predict { display:inline-block; padding:5px 0; width:100%; text-align:center; color:gray; }
td.center, th.center, div.center, p.center, span.center, ul.center  { text-align: center; }
td.middle, th.middle, img.middle, div.middle span.middle { vertical-align: middle; }
.strong { font-weight: bold; }
