%h2.pull-left
  %a{:href => "/home", :style => "text-decoration:none;"} LETS PREDICT 
.pull-right{:style => "padding-top:15px;"}
  %span{:style => 'font-size:18px;'}= "Hi " + current_user.fullname + " | "
  = link_to 'Sign Out', signout_path