.pull-right#nav-pull-right
  %span{:style => 'font-size:18px;color:#D7D7D7;'}
    = current_user.fullname.upcase 
  %a.help{:href => '#how_it_works', 'data-toggle' => 'modal'} Help
  %a.signout{:href => signout_path } Signout
%div{:style => 'clear:both;'}

#how_it_works.modal.hide
  .modal-header
    %button.close-button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}x
    %h3 How it works
  .modal-body
    = render '/sessions/how_it_works'
  .modal-footer
